body{
  
}
.main-content {
  width: 75%; /* Full width horizontally */
  height: 100vh; /* Occupies 65% of the viewport height */
  background-color: #254E68;
  color: aliceblue;
  /* display: flex;
  align-items: center;  */
}

 .header h1{
   align-items: center;
   top: 30%;
   position: absolute;
   transform: translate(17%);
   text-align: left;
   font-size: 5rem;
   width: 40%;
} 

.header h3{
  align-items: center;
  top: 50%;
  position: absolute;
  transform: translate(10%);
}
.header-buttons{
  align-items: center;
  top: 75%;
  position: absolute;
  transform: translate(450%);
}