/* App.css */
.App {
  text-align: center;
}

.App{
  background-color: #5498e0;
  background-size: 100%;
}
.navbar {
  margin-bottom: 20px;
  height: 100%;
}

.container {
  max-width: 960px;
  margin-top: 20px;
}

.page-title {
  margin-bottom: 20px;
}

h1 {
  margin-top: 20px;
  font-size: 2.5rem;
}

.btn-custom {
  background-color: #007bff;
  color: white;
}

.btn-custom:hover {
  background-color: #0056b3;
}

.form-container {
  margin-top: 20px;
}

.form-container form {
  max-width: 500px;
  margin: auto;
}

.error {
  color: red;
}
